body {
color: #111111;
margin: 0;
overflow-x: hidden;
}

body::-webkit-scrollbar {
width: 1em;
}

body::-webkit-scrollbar-track {
box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}

.bg {
position: fixed;
top: -50%;
left: -50%;
right: -50%;
bottom: -50%;
width: 200%;
height: 200vh;
background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
background-color: black;
background-repeat: repeat;
animation: bg-animation .2s infinite;
opacity: .9;
visibility: visible;
}

@keyframes bg-animation {
0% { transform: translate(0,0) }
10% { transform: translate(-5%,-5%) }
20% { transform: translate(-10%,5%) }
30% { transform: translate(5%,-10%) }
40% { transform: translate(-5%,15%) }
50% { transform: translate(-10%,5%) }
60% { transform: translate(15%,0) }
70% { transform: translate(0,10%) }
80% { transform: translate(-15%,0) }
90% { transform: translate(10%,5%) }
100% { transform: translate(5%,0) }
}


.oContainer{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding-top: 10%;
z-index: 1;
}

.child{
z-index: 1;
color: white;
}

.sgn{
padding-right: 90px;
z-index: 1;
}

.sgn:hover{
color:violet;
z-index: 1;
}

.lgn:hover{
color:violet;
z-index: 1;
}

.admnBttn{
z-index: 1;
color:white;
}

.admnBttn:hover{
z-index: 1;
color:violet;
}

.bttnDone{
width: 150px;
height: 50px;
background: red;
text-align:center;
font-weight: bold;
z-index: 1;
}

.sngForm{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
z-index: 1;
}

.bttnDone:hover{
background: turquoise;
z-index: 1;
}

.huh{
background-color: red;
width: 100%;
height: 100%;
z-index: 1;
}

.tContainer{
display:flex;
flex-direction: row;
z-index: 1;
}

.mainMenu{
z-index: 1;
}

.bottomMenu{
z-index: 1;
padding-left: 24px;
padding-top: 72px;
}

.hBttn{
background: rgb(44, 40, 40);
height: 3em;
width: 3em;
margin: 2em;
border: solid white;
z-index: 1;
}

.hBttn:hover{
border:solid violet;
height: 2em;
width: 2em;
margin: 2.5em;
z-index: 1;
}

.mapContainer{
float:right;
max-width: 85%;
z-index: 1;
}

.search{
position: relative;
top: 4rem;
left: 50%;
transform: translateX(-50%);
width: 100%;
max-width: 1000px;
z-index: 10;
}

.search input{
width: 100%;
z-index: 10;
}

.locate{
position: absolute;
top: 1rem;
right: 3rem;
background: none;
border: none;
z-index: 1;
}

.locate img {
width: 40px;
z-index: 10;
}

.teamMembers img{
width: 115px;
z-index: 10;
}


#App {
font-family: sans-serif;
height: 100vh;
}

.bm-item {
display: inline-block;
text-decoration: none;
margin-bottom: 10px;
color: #d1d1d1;
transition: color 0.2s;
}

.bm-item:hover {
color: white;
}

.bm-burger-button {
position: fixed;
width: 36px;
height: 30px;
left: 36px;
top: 36px;
}

.bm-burger-bars {
background: #373a47;
}

.bm-cross-button {
height: 24px;
width: 24px;
}

.bm-cross {
background: #bdc3c7;
}

.bm-menu {
background: #373a47;
padding: 2.5em 1.5em 0;
font-size: 1.15em;
}

.bm-morph-shape {
fill: #373a47;
}

.bm-item-list {
color: #b8b7ad;
}

.bm-overlay {
background: rgba(0, 0, 0, 0.3);
}

.markerList{
color:white;
z-index: 100;
display: flex;
flex-direction: column;
list-style-type:none;
}

.popover{
z-index: 10;
}

.titleTracker{
display: flex;
justify-content: center;
padding-top: 2em;
}

.mContain{
	display: flex;
	flex-direction: row;
}

@media only screen and (max-width: 767px){	

}

.pTag{
	margin-left: 35%;
	margin-right: 33%;
}

.teamImg{
	max-width: 50%;
	background-color: white;
}

.lefty{
	padding-right: 12em;
}

.iContainer{
	display: flex;
	justify-content: center;
	margin-left: 12%;
	margin-right: 22%;
}

.profileName{
	margin-top: 10%;
	margin-left: 10%;
	padding-left: 25%;
	z-index: 10;
	opacity: 100%;
	color: white;
}
