.oContainer{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin: 5%;
    margin-left:20%;
    margin-right:20%;
    padding: 5%;
}

.child{
    color:black;
}

.nav-wrapper{
    background-color:black
}

nav{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

#toast-container{
    top:30px !important;
    right: 20px !important;
    left: auto !important;
}

.mapContainer{
    float:right;
    max-width: 85%;
    padding-top: 80px;
    margin-right: 10px;
}

.bottomMenu{
    padding-left: 5%;
    padding-top: 10%;
}

.mContain{
    display:flex;
    flex-direction: row;
}

.search{
position: fixed;
background-color:white;
top: 53rem;
width: 100%;
z-index: 1;
}

.search input{
width: 100%;
}
    
.locate{
position: fixed;
top: 7rem;
right: 2rem;
background: none;
border: none;
z-index: 1;
}

.locate img {
width: 40px;
z-index: 10;
}

nav .brand-logo{
    position: relative;
    left: 50%;
}

.teamImg{
	max-width: 150px;
	background-color: white;
}

.iContainer{
	display: flex;
	justify-content: center;
	margin-left: 12%;
	margin-right: 22%;
}

.lefty{
	padding-right: 12em;
}

.pTag{
    display: flex;
    justify-content: center;
}

.sgn{
    padding-right:10rem;
}

.sgn:hover{
    color: violet;
}

.lgn:hover{
    color: violet;
}

.mContainer{
    margin-top: 10rem;
}

@media only screen and (max-width: 768px){
    .search{
        top: 45rem;
    }

    nav .brand-logo{
        left: 18%;
    }
}